a:link, a:visited {
	font-weight: bold;
	font-size: 1.2em;
	width: 150px;
	color:black;
}

.footer {
	line-height: 300%;
	background-color: gray;
	font-size: 15px;
	color: white;

}

.glyphicon {
	font-size: 2.5em;
	color: rgba(51, 119, 153,1);
}
.col-md-4 b {
	display: block;
	text-align: center;
}
h2 {
	text-align: center;
}
#bio-image{
	width: 200px;
	padding: 10px;
	height: 200px;
}
#profile-image{
	float:left;
	width: 170px;
	height: 150px;
	padding-right: 15px;
}
.img-icon {
	
}